* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: #D3D6CF;
}
.imgCartaCampo {
    width: 22vh;
}
.imgCartaCampo:hover {
    width: 23vh;
    cursor: pointer;
}
.imgCartaMao {
    width: 14vh;
}
.imgCartaMao:hover {
    width: 15vh;
    cursor: pointer;
}
.imgSemCarta {
    width: 8vh;
}
.containerTelaBatalha {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerdeckAdversdario {
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;

}
.divDeckAdversario {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.imgDeckOponente {
    width: 10vh;
}
.divCartaAparece {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgCartaAparece {
    height: 80vh;
    width: 100%
   

}
.imgCartaDesAparece {
    width: 0px;
}
.containerDeckJogador {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
}
.divInfoJogador {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.divBtnJogador {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btnJogador {
    height: 10vh;
    width: 50%;
}
.divDeckJogador {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgDeck {
    width: 10vh;
}
.containerBatalha {
    height: 100vh;
    width: 60%;
    border: 1px bold;
    border: 1px solid var(--cor-fundo-destaque);
    /* box-shadow: 0 0 0 0.1em var(--cor-fundo-destaque); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.divCartaBatalha {
    width: 100%;
    display: flex;
    justify-content: center;
}
.divMaoAdversario {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divBatalhaAdversario {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divBatalhaJogador {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divMaoJogador {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pontosOponente {
    color: rgb(255, 0, 0);
}
.pontosJogador {
    color: rgb(0, 17, 255);
}
.modalContent {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px bold;
    border: 1px solid var(--cor-fundo-destaque);
    /* box-shadow: 0 0 0 0.1em var(--cor-fundo-destaque); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}
.containerModal {
    height: 95vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalContentCima {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.modalContentBaixo{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.btnReiniciar {
    height: 10vh;
    width: 17vh;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}
.btnReiniciar:hover {
    height: 10vh;
    width: 17vh;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(192, 24, 24);
}
.btnSair {
    height: 10vh;
    width: 17vh;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: blue;
}
.btnSair:hover {
    height: 10vh;
    width: 17vh;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(22, 22, 187);
}


